.navbar {
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 1rem 1.5rem;
  position: relative;
}
.navHead {
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
}
.brand {
  width: 1.2rem;
  height: auto;
}
.navTitle {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  line-height: 1;
}
.menuLogo {
  width: 1.5rem;
  height: auto;
  cursor: pointer;
}

/* Nav List */
.navList {
  width: 100%;
  text-align: center;
  background-color: var(--color-accent);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(0, 100%);
  padding: 1rem 0;
}

.navListItem {
  list-style: none;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-family: var(--font-secondary);
  letter-spacing: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .brand {
    width: 1.7rem;
  }
  .navTitle {
    font-size: 2rem;
  }
  .menuLogo {
    display: none;
  }
  .navbar {
    padding: 0 2rem;
  }
  .navList {
    background-color: var(--color-primary);
    display: flex;
    position: initial;
    transform: translate(0, 0);
    background-color: none;
    justify-content: flex-end;
  }
  .navListItem {
    color: var(--color-accent);
  }
}
