.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg1);
  padding: 4rem 2rem;
}
.skillTitle {
  font-size: 5rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}
.skillItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
}

@media only screen and (min-width: 768px) {
  .brand {
    width: 1.7rem;
  }
  .navTitle {
    font-size: 2rem;
  }
  .menuLogo {
    display: none;
  }
  .navbar {
    padding: 0 2rem;
  }
  .navList {
    background-color: var(--color-primary);
    display: flex;
    position: initial;
    transform: translate(0, 0);
    background-color: none;
    justify-content: flex-end;
  }
  .navListItem {
    color: var(--color-accent);
  }
  .header {
    flex-direction: row;
    padding: 5rem 2rem;
  }
  .headerText {
    font-size: 3rem;
  }
  .headerImage {
    width: 30%;
  }
  .story {
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 2rem;
  }
  .storyHead {
    /* margin: 2rem; */
  }
  .storyDetail {
    width: 55%;
    font-size: 1.4rem;
    line-height: 2;
    overflow-y: scroll;
  }
  .projectItems {
    flex-direction: row;
  }
  .contact {
    align-items: flex-start;
  }
  .contactDetails {
    justify-content: space-around;
    flex-direction: row;
  }
  .socials {
    margin: 0;
  }
}
