/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[5].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app\\components\\fonts.js","import":"Raleway","arguments":[{"subsets":["latin"],"display":"swap","weight":"400","variable":"--font-primary"}],"variableName":"fontPrimary"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Raleway_c3f4a3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/6e5d849952d0b688-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Raleway_c3f4a3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/6f5ea4d40d45fdc5-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: '__Raleway_c3f4a3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/0480a9e1d1acf74a-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Raleway_c3f4a3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/1613604a2329a3c2-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Raleway_c3f4a3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/6a1999d623f8c8db-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Raleway_Fallback_c3f4a3';src: local("Arial");ascent-override: 89.62%;descent-override: 22.31%;line-gap-override: 0.00%;size-adjust: 104.89%
}.__className_c3f4a3 {font-family: '__Raleway_c3f4a3', '__Raleway_Fallback_c3f4a3';font-weight: 400;font-style: normal
}.__variable_c3f4a3 {--font-primary: '__Raleway_c3f4a3', '__Raleway_Fallback_c3f4a3'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[5].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app\\components\\fonts.js","import":"Roboto_Condensed","arguments":[{"subsets":["latin"],"weight":"400","variable":"--font-secondary"}],"variableName":"fontSecondary"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Roboto_Condensed_0fa0e8';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/6d8158b5dac66a6a-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Roboto_Condensed_0fa0e8';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/e59629220826f849-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Roboto_Condensed_0fa0e8';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/f93fc288d3b8d809-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Roboto_Condensed_0fa0e8';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/e7347371973bd777-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Roboto_Condensed_0fa0e8';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/738eea07b03bec13-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Roboto_Condensed_0fa0e8';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/42c90ae5e5890163-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Roboto_Condensed_0fa0e8';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/23eba3ab93d1c83a-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Roboto_Condensed_Fallback_0fa0e8';src: local("Arial");ascent-override: 104.18%;descent-override: 27.42%;line-gap-override: 0.00%;size-adjust: 89.05%
}.__className_0fa0e8 {font-family: '__Roboto_Condensed_0fa0e8', '__Roboto_Condensed_Fallback_0fa0e8';font-weight: 400;font-style: normal
}.__variable_0fa0e8 {--font-secondary: '__Roboto_Condensed_0fa0e8', '__Roboto_Condensed_Fallback_0fa0e8'
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[5].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"app\\components\\fonts.js","import":"Neucha","arguments":[{"subsets":["latin"],"weight":"400","variable":"--font-third"}],"variableName":"fontThird"} ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic */
@font-face {
  font-family: '__Neucha_05000c';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/c14b87340aa10560-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: '__Neucha_05000c';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/2353a6662b834442-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Neucha_Fallback_05000c';src: local("Arial");ascent-override: 91.42%;descent-override: 33.92%;line-gap-override: 5.69%;size-adjust: 84.07%
}.__className_05000c {font-family: '__Neucha_05000c', '__Neucha_Fallback_05000c';font-weight: 400;font-style: normal
}.__variable_05000c {--font-third: '__Neucha_05000c', '__Neucha_Fallback_05000c'
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/Story.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Story_story__sCEe1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg1);
  padding: 12rem 2rem 4rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
  /* padding-top: 7rem; */
}

.Story_watermark__Sd8kD {
  position: absolute;
  width: auto;
  height: 80%;
  transform: translate(-40%, -25%) rotate(-30deg);
  opacity: 0.15;
  /* overflow: hidden; */
  z-index: -1;
}

.Story_storyHead__g3c1U {
  text-align: center;
  margin-bottom: 4rem;
}

.Story_storyTitle__CgiWx {
  font-size: 5rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.Story_button__IVUOZ {
  padding: 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.Story_buttonSeparator__LMF5x {
  margin: 1rem;
  font-size: 1.5rem;
}

.Story_button__IVUOZ:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
  /* transition: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  transition-duration: 0.3s;
}

.Story_btnSecondary__Kh_RH {
  color: var(--color-accent);
  background-color: var(--color-primary);
}

.Story_storyDetail__PNVoj {
  /* width: 55%; */
  /* height: 425px; */
  text-align: justify;
  color: var(--color-white);
  font-family: var(--font-third);
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.5;
  background-color: var(--color-accent);
  padding: 2rem;
  white-space: pre-wrap;
}
@media only screen and (min-width: 480px) {
  .Story_storyDetail__PNVoj {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .Story_story__sCEe1 {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 12rem 2rem 5rem;
  }
  /* .storyHead {
    margin: 2rem;
  } */
  .Story_storyDetail__PNVoj {
    width: 55%;
    font-size: 1.4rem;
    line-height: 1.6;
    overflow-y: scroll;
    max-width: 75rem;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/Header.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__xuTiO {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  align-items: center;
  background-color: var(--color-primary);
  /* color: var(--color-white); */
  padding: 2rem 0 12rem;
}

.Header_headerText__4W1NA {
  min-width: 30rem;
  font-family: var(--font-secondary);
  /* line-height: 2; */
  font-size: 2.1rem;
  color: var(--color-white);
  margin-top: 3rem;
  text-align: center;
  /* width: fit-content; */
}

.Header_headerTextSub__lVU9l {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  /* margin-top: 0.5rem; */
  margin: 1rem 0;
  color: var(--color-accent);
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.Header_headerImage__JEzbz {
  /* border: 1px solid red; */
  width: 60%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .Header_header__xuTiO {
    flex-direction: row;
    padding: 5rem 2rem 12rem;
  }
  .Header_headerText__4W1NA {
    font-size: 3rem;
    text-align: left;
  }
  .Header_headerImage__JEzbz {
    width: 30%;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/ProjectItem.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.ProjectItem_projectItem__OIe3c {
  width: inherit;
  max-width: 35rem;
  text-align: center;
  color: var(--color-accent);
  margin: 2rem;
  font-size: 1.5rem;
  list-style: none;
  font-family: var(--font-secondary);
  border: 1px solid #ccc;
}
.ProjectItem_projectItemImg__ktEPQ {
  width: 100%;
  height: 20rem;
}

.ProjectItem_projectItemCap__SjdHS {
  padding: 1rem;
  font-size: 2rem;
}
.ProjectItem_projectItemDescription__ZYKr4 {
  margin: auto;
  padding: 1rem;
  line-height: 1.7rem;
  font-family: var(--font-primary);
}
.ProjectItem_projectItem__OIe3c:hover {
  scale: 1.05;
  transition-duration: 0.3s;
  border-radius: 5px;
  background-color: var(--color-primary);
  /* width: 80%; */
}
.ProjectItem_projectItem__OIe3c:hover .ProjectItem_projectItemCap__SjdHS {
  background-color: var(--color-bg2);
}
.ProjectItem_projectItemOpen__DjIiD {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.ProjectItem_projectItem__OIe3c:hover .ProjectItem_projectItemImg__ktEPQ {
  /* scale: 0.9; */
  opacity: 0.2;
}
.ProjectItem_projectItem__OIe3c:hover .ProjectItem_projectItemOpen__DjIiD {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s 0.2s, opacity 0.3s;
}

@media only screen and (min-width: 480px) {
  .ProjectItem_projectItem__OIe3c {
    width: 80%;
  }
}
@media only screen and (min-width: 640px) {
  .ProjectItem_projectItem__OIe3c {
    width: 40%;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/Projects.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Projects_projects__mwlJG {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: var(--color-bg2);
}
.Projects_projectTitle__7u8wt {
  font-size: 5rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}
.Projects_projectItems__GnPR1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .Projects_projectItems__GnPR1 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/SkillItem.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.SkillItem_skillItem__Qe22L {
  width: 15%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  /* overflow: hidden; */
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  font-weight: 700;
}
.SkillItem_skillItemImg__yr23b {
  border-radius: 50%;
  height: auto;
  border: 0.7rem solid var(--color-accent);
  padding: 1rem;
  width: 70%;
  margin-bottom: 10px;
  /* overflow: hidden; */
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/Skill.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Skill_skill__cnoxJ {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg1);
  padding: 4rem 2rem;
}
.Skill_skillTitle__VknyQ {
  font-size: 5rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}
.Skill_skillItems__vylsR {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: center; */
}

@media only screen and (min-width: 768px) {
  .Skill_skillItems__vylsR {
    max-width: 75%;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/ContactItem.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.ContactItem_contactItem__9ewdB {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: var(--color-white);
  margin: 0.5rem;
}
.ContactItem_contactItemImg__YV74O {
  width: 2.2rem;
  height: auto;
  padding-right: 1rem;
  filter: invert(76%) sepia(94%) saturate(1185%) hue-rotate(358deg)
    brightness(103%) contrast(107%);
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/Contact.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Contact_contacts__cLkt1 {
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.Contact_contactsTitle__OIbG4 {
  color: var(--color-primary);
  text-align: center;
  font-size: 5rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.Contact_contactDetails__6VEGp {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-family: var(--font-primary);
  margin-top: 4rem;
}

.Contact_contact__jrMJB {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.Contact_socials__uk6SR {
  margin: 5rem auto 2rem;
}

@media only screen and (min-width: 768px) {
  .Contact_contact__jrMJB {
    align-items: flex-start;
    margin-bottom: initial;
  }
  .Contact_contactDetails__6VEGp {
    justify-content: space-around;
    flex-direction: row;
  }
  .Contact_socials__uk6SR {
    margin: 0;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/SocialItem.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.SocialItem_socialItem__g_NGS {
  margin: 0 1rem;
}
.SocialItem_socialItemImg__a38iA {
  width: 5rem;
  height: auto;
  filter: invert(76%) sepia(94%) saturate(1185%) hue-rotate(358deg)
    brightness(103%) contrast(107%);
}

.SocialItem_socialItem__g_NGS:hover .SocialItem_socialItemImg__a38iA {
  transform: scale(1.2);
  transition-duration: 0.2s;
  /* filter: invert(10%) sepia(69%) saturate(7083%) hue-rotate(358deg)
      brightness(109%) contrast(116%); */
  /* transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); */
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/components/Cta.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Cta_cta__z8FZA {
  padding: 1rem;
  border-radius: 0.4rem;
  font-weight: 600;
  font-family: var(--font-secondary);
  font-size: 2rem;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--color-black);
  background-color: var(--color-primary);
  transition-duration: 0.3s;
}

.Cta_cta__z8FZA:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/ctaContainer.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.ctaContainer_ctaContainer__qiQgy {
  padding: 3rem;
  /* width: 90%; */
  background-color: #000;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 50rem;
  left: 2rem;
  right: 2rem;
  margin: auto;
  transform: translateY(-50%);
  border-radius: 0.5rem;
}
.ctaContainer_ctaContainerTitle__yve2I {
  font-size: 1.8rem;
  color: var(--color-white);
  font-family: var(--font-primary);
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .ctaContainer_ctaContainer__qiQgy {
    max-width: 20rem;
    left: 12%;
    margin: initial;
    text-align: center;
  }
  .ctaContainer_ctaContainerTitle__yve2I {
    margin-bottom: 2rem;
  }
}

